 <!-- About Section -->
  <section id="about">
    <div class="container about">
      <div class="col-left">
        <div class="about-img">
          <img src="img/taha.jpg" alt="img" class="img-fluid">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Me</span></h1>
        <h2> Web Developer</h2>
        <p> I Enjoy taking complex problems and turning them in to simple and beautiful interface design. I have skills on HTML5, CSS3, JavaScript, ES6 , Bootstrap 5, Wordpress, SCSS(CSS pre complier) , Tailwind CSS , React, Node JS , Express JS , Mongo DB ,MERN. Currently I Working as a Web Developer with having more than 1 year of experience in the field. My goal is to make every client 100% satisfied with my creative work.  </p>

        <a href="Taha-2021.pdf" target="_pdf"  class="cta">Download Resume</a>

      </div>
    </div>
  </section>
  <!-- End About Section -->