<!-- Contact Section -->
  <section id="contact">
    <div class="container contact">
      <div><h1 class="section-title">Contact <span>Info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="bubbles/100/000000/phone.png"></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>03492994930</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="bubbles/100/000000/new-post.png"></div>
          <div class="contact-info">
            <h1>Email</h1>
            <a href="https://mail.google.com">tahaahmedanees2@gmail.com</a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="bubbles/100/000000/map-marker.png"></div>
          <div class="contact-info">
            <h1>Pakistan</h1>
            <h3>A-345 Block N North Nazmaibad</h3>
            <h2>karachi</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->