<!DOCTYPE html>
<html lang="en">
<head>
  {{>Analytics}}
  {{!-- seo --}}
  <meta charset="UTF-8">
  {{!-- seo end --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Portfolio</title>
</head>