  <!-- Hero Section  -->
  <section id="hero">
    <div class="container hero">
      <div>
        <h1>Hi, <span></span></h1>
        <h1>I am Taha Ahmed <span></span></h1>
        <h1> Web Developer <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->