 <!-- Header / Nav bar-->
  <section id="header">
    <div class="container header">
      <div class="nav-bar">
        <div class="brand">
          <a href="/"><h1><span>T</span> aha <span>A</span>hmed</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div>
        </div>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Services">Services</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header/Nav bar -->
