  <section id="projects">
    <div class="container projects">
      <div class="projects-header">
        <h1 class="section-title"> <span>Projects</span></h1>
      </div>
  <div class="all-projects">
     <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>Portfolio Website</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            <button class="p_btn"><a href="https://online-web-and-mobile-c8bb3.web.app" target="_visit">Visit Here</a></button>       
          </div>
          <div class="project-img">
            <img src="img/Capture.PNG" alt="img">
          </div>
        </div>

        <div class="project-item">
          <div class="project-info">
            <h1>Project 5</h1>
            <h2>Digital Marketing Website</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            <button class="p_btn"><a href="https://github.com/taha123618" target="_visit">Visit Here</a></button>        
          </div>
          <div class="project-img">
            <img src="img/project 5.jpg" alt="img">
          </div>
        </div>
</div>
</div>
</section>