 <!-- Projects Section -->
  <section id="projects">
    <div class="container projects">
      <div class="projects-header">
        <h1 class="section-title"> <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1> 
            <h2>Portfolio</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          <button class="p_btn"><a href="https://github.com/taha123618/Expressproject-02" target="_visit">Visit Here</a></button>
          </div>
          <div class="project-img">
          <img src="img/project4.jpg" alt="project 01">
          </div>
          </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Portfolio Website</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            <button class="p_btn"><a href="https://hannanportfolio-a54882.web.app" target="_visit">Visit Here</a></button>
          </div>
          <div class="project-img">
            <img src="img/Capture2.JPG" alt="#">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>Food Website</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
            <button class="p_btn"><a href="https://github.com/taha123618" target="_visit">Visit Here</a></button>
          </div>
          <div class="project-img">
            <img src="img/project3.jpg" alt="img">
          </div>
        </div>

        <a href="/work" type="button" class="cta" style="color: black;">See More</a>

        
      </div>
    </div>
  </section>
  <!-- End Projects Section -->
        
        
        
        